body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

.background {
    background: linear-gradient(45deg, #ff7e5f, #feb47b, #ff7e5f, #feb47b);
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-height: calc(100vh - 60px); /* Subtracting header and footer heights */
    overflow-y: auto; /* Adding vertical scrollbar when needed */
}

h1 {
    margin-bottom: 30px;
}

h2 {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 1.5em;
    color: #007bff;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="number"],
input[type="date"],
select,
button {
    width: calc(100% - 20px);
    max-width: 100%;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #f4f4f4;
    transition: background-color 0.3s;
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="date"]:focus,
select:focus,
button:focus {
    outline: none;
    background-color: #e0e0e0;
}

input[type="checkbox"] {
    display: inline-block;
    margin-right: 5px;
}

button {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
